@import "../../MainStyles.less";

.taskContainer {
    height: 100%;
    overflow-y: scroll;
    touch-action: pan-y;
}
.taskContainer h1 {
    width: 100%;
}
.TasksTab .tasks,
.TasksTab .finished,
.TasksTab .coming-up {
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.TasksTab .finished {
    margin-bottom: 5rem;
}
.TasksTab .coming-up {
    opacity: 0.5;
}

//background blue filter: invert(26%) sepia(74%) saturate(1013%) hue-rotate(174deg) brightness(99%) contrast(89%);
//dark green filter: invert(28%) sepia(93%) saturate(5791%) hue-rotate(147deg) brightness(93%) contrast(101%);
