@import "../../MainStyles.less";

.TasksTab {
    max-height: calc(100% - 4px);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.taskContainer {
    max-height: 100%;
    overflow-y: scroll;
    touch-action: pan-y;
}
.TasksTab .tasks,
.TasksTab .finished,
.TasksTab .coming-up {
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.TasksTab .coming-up {
    margin-bottom: 4rem;
    opacity: 0.4;
}

@addButtonSize: 3.6rem;

.addButton {
    position: absolute;
    bottom: 20%;
    left: calc(50% - 1.8rem - 3px);
    align-self: center;

    width: @addButtonSize;
    height: @addButtonSize;
    border: 6px solid @borderColor;
    border-radius: 3rem;

    background-color: rgb(211, 245, 255);
}

.addIcon {
    width: 2.8rem;
    height: 2.8rem;
    margin: 0.4rem;
    filter: @accentFilter;
}

//background blue filter: invert(26%) sepia(74%) saturate(1013%) hue-rotate(174deg) brightness(99%) contrast(89%);
//dark green filter: invert(28%) sepia(93%) saturate(5791%) hue-rotate(147deg) brightness(93%) contrast(101%);
