.UnfinishedChore {
    width: calc(100% - 6px);
    height: 3rem;
    border: 3px solid rgba(0, 0, 0, 0.45);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    background-color: rgba(211, 245, 255, 0.85);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.choreTitle {
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.8);
}
.choreTime {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
    font-size: 0.6rem;
}

.checkCircle {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 3rem;
    background-color: black;
    margin-left: 0.3rem;
}

.textDetails {
    margin-right: 0.5rem;
    text-align: end;
}
