@goodColor: #1f94e7;

.AddTaskScreen {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
}

.AddTaskScreen .buttonsDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;

    margin-top: 1rem;
}

.AddTaskScreen .buttonsDiv button {
    padding: 0.1rem;
    width: 5rem;

    font-size: 1.1rem;
    color: white;

    border: none;
    border-radius: 1rem;
}

.AddTaskScreen .cancelButton {
    background-color: rgb(175, 175, 175);
}
.AddTaskScreen .createButton {
    background-color: @goodColor;
}

.AddTaskScreen .TextInput {
    width: 70%;
    margin-left: 7px;
}

.AddTaskScreen .nameTitle {
    color: rgba(0, 0, 0, 0.644);
}
.AddTaskScreen .nameTitle,
.AddTaskScreen .TextInput {
    font-size: 0.9rem;
}

.AddTaskScreen .nameInputDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}
.groupDiv {
    margin: 1rem;
    width: 100%;
}
.groupDiv,
.AddTaskScreen .groupDiv .groupSelector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AddTaskScreen .ifGroupSelector {
    display: flex;
    width: 12rem;

    border: 2px solid @goodColor;
    border-radius: 6px;

    justify-content: space-evenly;
}

.AddTaskScreen .ifGroupSelector p {
    font-size: 0.9rem;
    width: 50%;
    text-align: center;
    color: rgba(0, 0, 0, 0.685);
}

.AddTaskScreen .ifGroupSelector p.selected {
    background-color: @goodColor;
    color: rgba(255, 255, 255, 0.9);
}

.groupSelector {
    width: fit-content;
    margin: 0.2rem;
}
.AddTaskScreen .groupSelector .selectedGroup {
    width: fit-content;
    display: flex;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 5px;

    padding: 0.2rem;
}
.AddTaskScreen .groupSelector .selectedGroup p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.1rem;
}
