@goodColor: #1f94e7;

.AddTaskScreen {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;

    border: 1px solid red;
}

.AddTaskScreen .buttonsDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
}

.AddTaskScreen .buttonsDiv button {
    padding: 0.1rem;
    width: 5rem;

    font-size: 1.1rem;
    color: white;

    border: none;
    border-radius: 1rem;
}

.AddTaskScreen .cancelButton {
    background-color: rgb(175, 175, 175);
}
.AddTaskScreen .createButton {
    background-color: @goodColor;
}

.AddTaskScreen .TextInput {
    width: 70%;
    margin-left: 7px;
}

.AddTaskScreen .nameTitle {
    color: rgba(0, 0, 0, 0.644);
}
.AddTaskScreen .nameTitle,
.AddTaskScreen .TextInput {
    font-size: 0.9rem;
}

.AddTaskScreen .nameInputDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}

.groupDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.AddTaskScreen .ifGroupSelector {
    display: flex;
    width: 12rem;
    margin: 1rem;

    border: 2px solid @goodColor;
    border-radius: 6px;

    justify-content: space-evenly;
}

.AddTaskScreen .ifGroupSelector p {
    font-size: 0.9rem;
    width: 50%;
    text-align: center;
    color: rgba(0, 0, 0, 0.685);
}

.AddTaskScreen .ifGroupSelector p.selected {
    background-color: @goodColor;
    color: rgba(255, 255, 255, 0.801);
}
