.AddTaskScreen {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
}

.AddTaskScreen .buttonsDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
}

.AddTaskScreen .buttonsDiv button {
    padding: 0.1rem;
    width: 5rem;

    font-size: 1.1rem;
    color: white;

    border: none;
    border-radius: 1rem;
}

.cancelButton {
    background-color: rgb(175, 175, 175);
}
.createButton {
    background-color: #1f94e7;
}

.AddTaskScreen .TextInput {
    width: 100%;
}
