@import "../../../MainStyles.less";

.UnfinishedTask {
    border-radius: 0.5rem;
    background-color: white;
    border: 3px solid @mainColor;

    width: calc(100% - 8px);
    margin-top: 0.5rem;
    padding: 0.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.UnfinishedTask .taskGroup {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-size: 0.6rem;

    text-align: center;
    transform: translateX(-2.05rem);
}

@checkCircleSize: 2.2rem;

.UnfinishedTask .checkCircle {
    max-width: @checkCircleSize;
    max-height: @checkCircleSize;
    min-width: @checkCircleSize;
    min-height: @checkCircleSize;

    border-radius: 3rem;
    margin-left: 0.3rem;

    border: 3px solid @mainColor;
    background-color: rgba(0, 0, 0, 0.05);
}

@editIconSize: 1.5rem;

.UnfinishedTask .editIcon img {
    opacity: 0.4;
    margin: 0.2rem;

    max-width: @editIconSize;
    max-height: @editIconSize;
    min-width: @editIconSize;
    min-height: @editIconSize;
}

.UnfinishedTask .textDetails {
    margin-right: 0.2rem;
    text-align: end;

    height: 100%;
    width: calc(95% - @checkCircleSize);

    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: 1px solid red;
}
