@import "../../../MainStyles.less";

.GroupComponent {
    width: 85%;
    padding: 0.5rem;

    margin-top: 1rem;

    background-color: white;
    border-radius: 0.5rem;
}
.GroupComponent legend {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 5px 10px;
    background-color: white;
    border-radius: 0.5rem;
}

.editIcon img {
    border: 3px solid red;
}
