@import "../../../MainStyles.less";

.GroupComponent {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 85%;
    padding: 0.2rem;

    margin-top: 1rem;

    background-color: white;
    border-radius: 0.5rem;
}
.GroupComponent p {
    margin: 0.1rem;
}
.GroupComponent legend {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 5px 10px;
    background-color: white;
    border-radius: 0.5rem;
}

.GroupComponent .editIcon {
    align-self: flex-end;
    position: absolute;
}
