.groupsContainer {
    height: 100%;
    overflow-y: scroll;
    touch-action: pan-y;
}
.groups {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0.5rem;

    margin-bottom: 4rem;
}
