@iconSize: 3.1rem;

.MainViewTab {
    width: calc(@iconSize + 6px);
    height: calc(@iconSize + 1rem);

    margin-top: 0.5rem;
    padding: 0.2rem;

    opacity: 0.4;

    transition: 0.15s opacity;
    will-change: opacity;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.MainViewTab p {
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

.mainViewTabIcon {
    height: @iconSize;
    width: @iconSize;
    filter: blur(1px);
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 0.5rem;

    transition: 0.15s border;
    will-change: border;
}
.MainViewTab.selected .mainViewTabIcon {
    filter: none;
    border: 3px solid white;
}

.MainViewTab.selected {
    opacity: 1;
}
