@iconSize: 3.3rem;

.MainViewTab {
    width: @iconSize;
    height: calc(@iconSize + 1rem);
    padding: 0.3rem;
    opacity: 0.4;

    transition: 0.1s all;
}
.MainViewTab p {
    font-weight: bold;
    font-size: 0.7rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

.mainViewTabIcon {
    height: @iconSize;
    width: @iconSize;
    filter: blur(1px);
    transition: 0.1s all;
}
.MainViewTab.selected .mainViewTabIcon {
    filter: none;
}

.MainViewTab.selected {
    opacity: 1;
}
.MainViewTab:active,
.MainViewTab:focus {
    background: none;
}

// 444444 filter: invert(21%) sepia(0%) saturate(1958%) hue-rotate(195deg) brightness(103%) contrast(81%);
// 323232 filter: invert(19%) sepia(8%) saturate(6%) hue-rotate(319deg) brightness(99%) contrast(98%);
// ffffff filter: invert(100%) sepia(4%) saturate(521%) hue-rotate(150deg) brightness(118%) contrast(100%);
