@startScreenBackgroundColor: linear-gradient(180deg, #76b3df, #17639a);

html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    touch-action: none;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    touch-action: none;
}

* {
    cursor: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-family: "Rubik", sans-serif;
    font-size: 1.3rem;
    // touch-action: manipulation;
}

h1,
h2,
p,
button,
img,
div {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
