//@accentColor: #ff7300;
//@accentFilter: invert(50%) sepia(26%) saturate(5513%) hue-rotate(1deg) brightness(103%) contrast(102%);

@mainColor: #008ecf;
@mainFilter: invert(38%) sepia(82%) saturate(2515%) hue-rotate(174deg) brightness(93%) contrast(101%);
@accentColor: #43b600;
@accentFilter: invert(65%) sepia(53%) saturate(6091%) hue-rotate(64deg) brightness(102%) contrast(101%);
@whiteFilter: invert(100%) sepia(100%) saturate(0%) hue-rotate(319deg) brightness(102%) contrast(101%);

@borderColor: rgba(0, 0, 0, 0.7);

.Main {
    height: 100%;
    width: 100%;
    touch-action: none;
    font-weight: 600;
    color: rgba(255, 0, 0, 0.9);

    display: flex;
    flex-direction: column-reverse;
}

.mainViewContainer,
.scrollContainer {
    width: calc(100%);
    height: 83%;
    overflow-y: scroll;
    touch-action: pan-y;
}

.minor-text {
    color: rgba(0, 0, 0, 0.35);
    font-weight: 600;
    font-size: 0.6rem;
    margin-top: 0.2rem;
}

.major-text {
    font-weight: 500;
    font-size: 1.15rem;
    color: rgba(0, 0, 0, 0.7);
}
.bigger-text {
    font-weight: 500;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
}

.center-text {
    text-align: center;
}
.far-text {
    text-align: right;
}

.tabBar {
    height: 17%;
    display: flex;
    justify-content: space-evenly;
    background-color: @mainColor;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

@addButtonSize: 3.6rem;

.addButton {
    position: absolute;
    bottom: 17.5%;
    left: calc(50% - 1.8rem - 3px);
    align-self: center;

    width: @addButtonSize;
    height: @addButtonSize;
    border: 5px solid @mainColor;
    border-radius: 3rem;

    background-color: white;
}

.addIcon {
    width: 2.8rem;
    height: 2.8rem;
    margin: 0.4rem;
}

@editIconSize: 1.5rem;

.editIcon img {
    opacity: 0.4;
    margin: 0.2rem;

    max-width: @editIconSize;
    max-height: @editIconSize;
    min-width: @editIconSize;
    min-height: @editIconSize;
}

.shadowed {
    box-shadow: 1px 3px 10px #00000044;
}
.clickScale:active {
    transform: scale(1.05);
}
.clickScaleBig:active {
    transform: scale(1.2);
}

.clickScale,
.clickScaleBig {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    transition: 0.08s transform;
    transition-timing-function: ease-in;

    will-change: transform;
}

.fade-in {
    animation: @fadeInAnimation;

    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0.01s;

    -webkit-animation: @fadeInAnimation;
    -moz-animation: @fadeInAnimation;
    -o-animation: @fadeInAnimation;
    -ms-animation: @fadeInAnimation;
}
@fadeInAnimation: fadeIn 0.4s;
@startTranslateY: translateY(1rem);
@keyframes fadeIn {
    0% {
        transform: @startTranslateY;
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        transform: @startTranslateY;
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        transform: @startTranslateY;
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        transform: @startTranslateY;
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        transform: @startTranslateY;
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.scale-in {
    animation: @scaleInAnimation;

    -webkit-animation-name: scaleIn;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0.01s;

    -moz-animation: @scaleInAnimation;
    -o-animation: @scaleInAnimation;
    -ms-animation: @scaleInAnimation;
}
@scaleInAnimation: scaleIn 0.4s;
@startScale: scale(80%);
@keyframes scaleIn {
    0% {
        transform: @startScale;
        opacity: 0;
    }
    100% {
        transform: scale(100%);
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        transform: @startScale;
        opacity: 0;
    }
    100% {
        transform: scale(100%);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        transform: @startScale;
        opacity: 0;
    }
    100% {
        transform: scale(100%);
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        transform: @startScale;
        opacity: 0;
    }
    100% {
        transform: scale(100%);
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        transform: @startScale;
        opacity: 0;
    }
    100% {
        transform: scale(100%);
        opacity: 1;
    }
}
